@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
}

h1 {
    background-color: cadetblue;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
}

article {
    background-color: #DDDDDD;
    padding: 1rem 20px;
}

#menu {
    padding: 3px 7px;
    border-radius: 15px;
}

form {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

input, select {
    outline: none;
    padding: 5px;
}
select {
    margin-bottom: 1rem;
}

input[type="text"] {
    border: 1px solid darkgray;
    border-radius: 15px;
    margin: 0 10px;
}

input[type="submit"] {
    background: white;
    margin-left: 10px;
    padding: 5px 15px;
    border: 1px solid darkgray;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #8198A2;
    text-transform: uppercase;
}